@model Nettbutikk.Model.PresentasjonsModel.betaling
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Betaling</title>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>

    <div class="container body-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h2>Betaling</h2>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.kortnr, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.kortnr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kortnr, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.utløpsdato, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.utløpsdato, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.utløpsdato, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CVC, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.CVC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CVC, "", new { @class = "text-danger" })
                        <br />
                        <a href="#" data-toggle="modal" data-target="#cvcmod">Hva er CVC/CVV?</a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kjøp" class="btn btn-success" id="kjop"  />
                        <a href="@Url.Action("VisHandlevogn", "Ordre", new { vareid = 0})" class="btn btn-danger">Avbryt</a>
                    </div>
                </div>


            </div>

        }
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cvcmod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">CVC/CVV</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Images/img_cvc.jpg" style=" display:block; margin-left:auto; margin-right:auto;" />

                </div>
                <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
            </div>
            
        </div>
    </div>
    <!-- Modal slutt -->
    </body>
</html>

